/*page styling*/
body, html {
	background-color: #000;
	font-family:'PT Serif', serif;
	font-size:12px;
	text-align:center;
	color: #ffffff;
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.faketextin {
	display: inline-block;
}

/*prevents sup/sub from modifying line height*/
sup, sub {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	top: 0.4em;
}

a:link {
	color: #77ddff;
}
a:visited {
	color: #aaccdd;
}
a:hover {
	color: #55bbff;
}
a:active {
	color: #aaccdd;
}

#oldie a { color:#da0 }

input[type="range"] {
	-webkit-appearance: none;
	background-color: #aaaaaa;
	width: 100px;
	height: 5px;
	border: inset 2px #aaaaaa;
	opacity: 0.5;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: #cccccc;
	opacity: 0.8;
	width: 5px;
	height: 10px;
}



/*text styling*/
.titlecapt {
	font-family:'Cagliostro', sans-serif;
	font-weight: bold;
}

.listcontent {
	margin-left: 2em;
	display: inline-block;
}

.footnotes {
	font-size: 80%;
	font-weight: normal;
	color: #aaa;
}



/*copy-on-click regions*/
.selcopy {
	color: #222222;
	font-style: italic;
	background-color: #cccccc;
	outline: 1px solid #0002;
	outline-offset: 0;
	display: inline-block;
}

.selcopy_last {
	outline: 2px dotted #0007;
	outline-offset: -2px;
}

@keyframes warn-border-blink {
	0% {
		outline: 2px dashed red;
	}
	25% {
		outline: 2px dashed yellow;
	}
	50% {
		outline: 2px dotted red;
	}
	75% {
		outline: 2px dotted yellow;
	}
	100% {
		outline: 2px dashed red;
	}
}
@-webkit-keyframes warn-border-blink {
	0% {
		outline: 1px dashed red;
	}
	25% {
		outline: 1px dashed yellow;
	}
	50% {
		outline: 1px dashed red;
	}
	75% {
		outline: 1px dashed yellow;
	}
	100% {
		outline: 1px dashed red;
	}
}

.selcopy_warn {
	animation: warn-border-blink 1s steps(1, end) infinite;
	-webkit-animation: warn-border-blink 1s steps(1, end) infinite;
}

.squadcast {
	color: #227722;
	background-color: #ddffdd;
}

.mapcast {
	color: #774411;
	background-color: #ffccaa;
}

.broadcast {
	color: #224422;
	font-weight: bold;
	background-color: #88ff88;
}



/*options*/
.opt-quarter {
	width: 25%;
	flex-grow: 1;
}
.opt-half {
	width: 50%;
	flex-grow: 2;
}
.opt-full {
	width: 100%;
	flex-grow: 4;
}

.opt-input {
	width: 100%;
	background-color: #401060;
	color: #fff;
	outline: none;
	border-radius: 2px;
	border: 2px outset #8010e0;
}

/*image expand on hover*/

.hoverthumb:not(:hover) {
  max-width: 100px;
  max-height: 100px;
}

/*hardcoded/special elements*/
.credits {
	position: fixed;
	left: 0;
	bottom: 2px;
	right: 2px;
	color: #999;
	background-color: #000;
	text-align:right;
}

.wrap {
	position: absolute;
	left:50%;
	top:50%;
	width: 90vw;
	height: 90vh;
	margin: 0 auto;
	transform:translate(-50%,-50%);
}

#tabs-container {
	width: 100%;
}

.tab-contents {
	max-height: 45vh;
	text-align: left;
	overflow-x: scroll;
	overflow-y: auto;
	white-space: nowrap;
	scrollbar-color: #450567 #230340;
}