body {
	background-color: #000;
	color: #fff;
	font-family: consolas, monospace;
	font-style: bold;
	font-size: 0.75em;
}

a:link {
	color: #88f;
}
a:visited {
	color: #a8a;
}

.linksep {
	margin: 4px 2px 2px 2px;
}

.j {
	display: inline-block;
	width: auto;
	padding: 0;
	margin: 0;
	text-indent: 0;
}

.jnowrap {
	white-space: nowrap;
}

a .j { text-decoration: underline; }

.regind {
	background-color: #f00;
	color: #fff;
	box-sizing: border-box;
	border-radius: 0.1em;
	width: 1em;
	height: 1em;
	display: inline-block;
	text-indent: 0.2em;
	font-family: Arial, sans-serif;
	font-size: 75%;
}

#titlewrap {
	margin-top: 0;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
}

#titlebar {
	display: inline-block;
	text-align: left;
}

#titletext {
	font-size: 400%;
}

#titlesub {
	color: #aaa;
	opacity: 0;
	text-indent: -2em;
}

#contentleft {
	left: 0;
}
#contentright {
	right: 0;
}
#contentwrap {
	text-align: center;
}

.contentbar {
	vertical-align: top;
	background-clip: padding-box;
	box-sizing: border-box;
	display: inline-block;
	width: 30%;
	border-radius: 1vw;
	background: #222;
	overflow: hidden;
}

.contenthead {
	background: #777;
	font-size: 200%;
}

.contentsub {
	background: #444;
	font-size: 125%;
}